extends layout.pug

block layout-content

	.px-4.py-5.my-5.text-center
		h1.display-3.fw-bold Autodidact
		.col-md-8.mx-auto
			p.lead.mb-4
				| Autodidact is a tool to help self-learners study and keep pace with them as they continue to grow. We give you a personal space to compile notes, gather knowledge, and make reflections on your field of study in a mindful way. Learning is about making connections with your unique experiences and your notes. Use Autodidact like a study buddy to collect and record everything you need for success.
			h2.display-5 Sounds good?
			h3.text-muted.pb-2 Try it! It's free.
			.d-grid.gap-2.d-sm-flex.justify-content-sm-center
				#g_id_onload(data-client_id='513169599185-pm74pcrbskd7frm631dte4nka058034t.apps.googleusercontent.com' data-context='signup' data-ux_mode='popup' data-login_uri='localhost:3000' data-auto_select='true')
				.g_id_signin(data-type='standard' data-shape='rectangular' data-theme='outline' data-text='signin_with' data-size='large' data-logo_alignment='left' data-width='400')
